<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<Configuration>Debug</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>$(APPDATA)\r2modman-data\LethalCompany\profiles\Debug\BepInEx\scripts\$(Authors)-$(AssemblyName)</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<_TargetId>Folder</_TargetId>
		<TargetFramework>netstandard2.1</TargetFramework>
		<DebugType>Full</DebugType>
	</PropertyGroup>
	<PropertyGroup>
		<AssemblyLocationNamePlural>$([System.IO.Directory]::GetParent($(PublishDir)).name)</AssemblyLocationNamePlural>
		<AssemblyLocationNameSingular>$(AssemblyLocationNamePlural.Substring(0, $([MSBuild]::Subtract($(AssemblyLocationNamePlural.Length), 1))))</AssemblyLocationNameSingular>
		<AssemblyLocationNameTitle>$([System.String]::Concat($(AssemblyLocationNameSingular.Substring(0, 1).ToUpper()), $(AssemblyLocationNameSingular.Substring(1, $([MSBuild]::Subtract($(AssemblyLocationNameSingular.Length), 1))))))</AssemblyLocationNameTitle>
		<AssemblyName>$(Product)$(AssemblyLocationNameTitle)-$([System.DateTime]::Now.Ticks)</AssemblyName>
	</PropertyGroup>
</Project>
