<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <PublishDir>$(APPDATA)\r2modman-data\LethalCompany\profiles\Release\BepInEx\plugins\$(Authors)-$(AssemblyName)</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <_TargetId>Folder</_TargetId>
        <DebugType>None</DebugType>
    </PropertyGroup>

    <Target Name="CreateThunderstoreZipArchive" AfterTargets="Publish">
        <PropertyGroup>
            <PackageDir>$(ProjectDir)pkg\</PackageDir>
            <ThunderstoreDir>$(ProjectDir)dist\thunderstore\</ThunderstoreDir>
        </PropertyGroup>

        <ItemGroup>
            <PackageFiles
                Include="$(SolutionDir)assets\icon.png; $(SolutionDir)assets\manifest.json; $(SolutionDir)README.md; $(SolutionDir)CHANGELOG.md; $(PublishDir)$(AssemblyName).dll"
            />
        </ItemGroup>

        <MakeDir Directories="$(PackageDir); $(ThunderstoreDir)"/>
        <Copy SourceFiles="@(PackageFiles)" DestinationFolder="$(PackageDir)" SkipUnchangedFiles="true"/>

        <ZipDirectory
            SourceDirectory="$(PackageDir)"
            DestinationFile="$(ThunderstoreDir)$(AssemblyName).zip"
            Overwrite="true"
        />

        <Unzip
            SourceFiles="$(ThunderstoreDir)\$(AssemblyName).zip"
            DestinationFolder="$(PublishDir)"
        />

        <RemoveDir Directories="$(PackageDir)"/>
    </Target>
</Project>
